    * {
        background-color: rgb(166, 223, 223);
    }
    
    h1 {
        background-color: blanchedalmond;
    }
    
    .A {
        background-color: rgb(208, 169, 244);
    }
    
    #submitbutton {
        background-color: rgb(125, 237, 155);
    }