* {
    padding: 0;
    margin: 0;
}

#header {
    background-color: aqua;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 10px;
}

#menu-item {
    display: flex;
    gap: 15px;
    align-items: center;
}

#menu-item button {
    padding: 5px 10px;
    background-color: chartreuse;
    border: 1px solid rgb(1, 106, 1);
    border-radius: 5px;
}

#ask-me {
    position: fixed;
    bottom: 30px;
    right: 40px;
    background-color: rgb(204, 92, 92);
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}